@using MITT_QueueA.Models;
@model ICollection<MITT_QueueA.Models.Question>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">Queue&A</h1>
</div>

<h2>New Questions</h2>
@foreach (Question q in Model)
{
    <div class="row">
        <a href="Main/Details?id=@q.Id"  >
            <h3>@q.Title</h3>
        </a>
        <p>User: @q.User.Email</p>
    </div>
}

<h4>Pages:</h4>
@for (int pg = 1; pg <= (int)ViewBag.PageCount; ++pg)
{
    @Html.ActionLink(pg.ToString(), "Index", new { page = pg })
}

