@using MITT_QueueA.Models;
@model ICollection<MITT_QueueA.Models.Question>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">Queue&A</h1>
</div>

<h2>New Questions</h2>
@foreach (Question q in Model)
{
<div class="row">
    <span class="question-rep-span"><b>@q.Answers.First(a => a.IsQuestion).UserVotes.Sum(v => v.IsUpvote ? 1 : -1)</b></span>
    @Html.ActionLink("<h3>" + q.Title + "</h3>", "Details", new { id = q.Id })
    <p>User: @q.User.Email</p>
</div>
}

<h4>Pages:</h4>
@for (int pg = 1; pg <= (int)ViewBag.PageCount; ++pg)
{
    @Html.ActionLink(pg.ToString(), "Index", new { page = pg })
}

